block variables
doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=11")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title= title

    //- uncomment when running npm run dev
    //- link(rel="stylesheet", href="style.css")
    //- script(defer src="main.js") defer all script tags
  body
    block content
    script(src="./src/js/ofi.min.js")
    script(src="https://cdn.jsdelivr.net/npm/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js")