.white {
  color: $white;
}

.white-bg {
  background: $white;
}

.black {
  color: $black;
}

.black-bg {
  background: $black;
}

.primary {
  color: $primary;
}

.primary-bg {
  background: $primary;
}
