html {
  font-family: $yugo;
  color: $text;
  font-size: 10px;
  font-feature-settings: 'palt';
  scroll-behavior: smooth;
  @media screen and (max-width: 980px) {
    min-width: 980px;
  }
  @include sp {
    min-width: 100%;
  }
}

.overflow {
  overflow: hidden;
}

.mobile-hide {
  display: block;
  @include sp {
    display: none;
  }
}

.mobile-show {
  display: none;
  @include sp {
    display: block;
  }
}
